/* line 5, /Users/scotty_pierce/wdi/projects/fitness_finder/app/assets/stylesheets/landing.scss */
body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* line 13, /Users/scotty_pierce/wdi/projects/fitness_finder/app/assets/stylesheets/landing.scss */
.topBox img {
  width: 300px;
  height: 100px;
  box-sizing: border-box;
  margin: auto;
  text-align: center;
  opacity: 1;
  padding-top: 15px;
}

/* line 23, /Users/scotty_pierce/wdi/projects/fitness_finder/app/assets/stylesheets/landing.scss */
h1 {
  text-shadow: 4px 4px 12px black;
  color: white;
  font-size: 55px;
}

/* line 29, /Users/scotty_pierce/wdi/projects/fitness_finder/app/assets/stylesheets/landing.scss */
h3 {
  /*text-shadow: 4px 4px 12px #4088bf;*/
  color: #4088bf;
  font-size: 20px;
  background: white;
}

/* line 36, /Users/scotty_pierce/wdi/projects/fitness_finder/app/assets/stylesheets/landing.scss */
p {
  line-height: 100%;
  color: #565555;
}

/* line 41, /Users/scotty_pierce/wdi/projects/fitness_finder/app/assets/stylesheets/landing.scss */
h2 {
  color: #565555;
  padding: 15px;
}

/* line 46, /Users/scotty_pierce/wdi/projects/fitness_finder/app/assets/stylesheets/landing.scss */
hr {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  padding: 5px 160px 5px;
}

/* line 55, /Users/scotty_pierce/wdi/projects/fitness_finder/app/assets/stylesheets/landing.scss */
.footer {
  height: 60px;
}

/* line 58, /Users/scotty_pierce/wdi/projects/fitness_finder/app/assets/stylesheets/landing.scss */
.footer p {
  font-size: 12px;
  text-align: center;
  padding: auto 30px;
  margin: 10px 40px;
  color: grey;
  display: inline-block;
}

/* line 67, /Users/scotty_pierce/wdi/projects/fitness_finder/app/assets/stylesheets/landing.scss */
.footer img {
  display: inline-block;
  height: 40px;
  width: 80px;
  margin: auto 40px;
  float: left;
}

/* line 75, /Users/scotty_pierce/wdi/projects/fitness_finder/app/assets/stylesheets/landing.scss */
.signInForm a {
  background-color: #dddddd;
  color: #565555;
  border-radius: 3px;
  padding: 5px 20px;
  border: 1px solid #565555;
  border-radius: 3px;
  font-weight: 700;
  font-size: 15px;
  margin: auto 20px;
  text-decoration: none;
  float: right;
}

/* line 89, /Users/scotty_pierce/wdi/projects/fitness_finder/app/assets/stylesheets/landing.scss */
.contactForm {
  margin: auto;
  text-align: center;
}

/* line 94, /Users/scotty_pierce/wdi/projects/fitness_finder/app/assets/stylesheets/landing.scss */
input {
  padding: 5px 20px;
  border: 2px solid orange;
  border-radius: 3px;
  background-color: white;
  color: #4288bc;
  font-weight: 500;
  font-size: 18px;
  margin: 17px 5px;
}

/* line 105, /Users/scotty_pierce/wdi/projects/fitness_finder/app/assets/stylesheets/landing.scss */
.inputType {
  visibility: hidden;
}

/* line 109, /Users/scotty_pierce/wdi/projects/fitness_finder/app/assets/stylesheets/landing.scss */
input[type=submit] {
  background-color: #4288bc;
  color: white;
  border-radius: 3px;
}

@media (min-width: 600px) {
  /* line 121, /Users/scotty_pierce/wdi/projects/fitness_finder/app/assets/stylesheets/landing.scss */
  .topBox {
    width: auto;
    height: 365px;
    background-image: url(/assets/bike-color-f8bd0c75530dfee99598026634c806595dd61e311c3459944961142b6121b345.jpg);
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
  }

  /* line 134, /Users/scotty_pierce/wdi/projects/fitness_finder/app/assets/stylesheets/landing.scss */
  .topBox img {
    width: 400px;
    height: 230px;
    box-sizing: border-box;
    margin: auto;
    text-align: center;
    opacity: 1;
    padding-top: 15px;
  }

  /* line 144, /Users/scotty_pierce/wdi/projects/fitness_finder/app/assets/stylesheets/landing.scss */
  .middleBox {
    padding: 20px 160px 60px;
  }

  /* line 148, /Users/scotty_pierce/wdi/projects/fitness_finder/app/assets/stylesheets/landing.scss */
  .bottomBox {
    padding: 20px 160px 60px;
    text-align: center;
  }

  /* line 153, /Users/scotty_pierce/wdi/projects/fitness_finder/app/assets/stylesheets/landing.scss */
  p {
    line-height: 150%;
    color: #565555;
  }
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */


.header {
  display: flex;
  height: 75px;
}

.header h2 a {
  text-decoration: none;
  border-style: outset;
  border-color: #4088bf orange;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}

.header a:hover {
    background-color: #4088bf;
    color: white;
}

.header img {
  height: 50px;
  width: 100px;
  padding: 4px;
  margin: 5px 15px;
  background-color: orange;
  border-style: outset;
}
