<h1>All of the Events</h1>

<% @event.each do |event| %>
  <p>Event date: <%= event.event_date %></p>
  <h2><%= link_to event.start_time.strftime('%A'), company_event_path(event.company, event) %></h2>
  <% end %>
