<div class="topBox">

<%= image_tag "quad_logo_background_transparent.png", alt: "Quad Logo", class: "img" %>

<h1>The Quad Network: Never Be Bored</h1>

</div>

<div class="yogaWorks">
  <%= image_tag "yw-logo.png", alt: "Quad Logo", class: "img" %>
  <h2>Introducing: BEAT THE HEAT with THE QUAD and YOGAWORKS 14th ST NW</h2>
  <h3>It’s simple: Invite 2 friends in DC to join The Quad community and you automatically enter our raffle to win a MONTH of FREE classes at YogaWorks 14th St NW.  Instructions: (1) Enter your name. (2) Enter two friends’ email addresses at the bottom of the page.</h3>
  <%= image_tag "yogi.jpg", alt: "Quad Logo", class: "img" %>
</div>

<hr>

<div class="middleBox">
  <h2>Welcome to The Quad</H2>

  <h3>What's your relationship with fitness? Casual? Committed? Doesn't Matter!</h3>
  <h2>You belong in The Quad.</h2>

</div>

<hr>
<div class="middleBox">
  <h2>What is The Quad?</h2>
  <h3>Push notification-based app that puts you in control of your fitness.<h3>
  <h2>When do you prefer to workout?  Morning? Afternoon? Evenings? Weekends? Weekdays?</h2>
  <p>Elect to receive push notifications from your favorite studios when discounted seats become available at your favorite time. A simple SMS response reserves your spot.</p>
</div>

<hr>

<div class="examples">
  <div>
    <h1>Students</h1>
      <p>Low on Cash?</p>
      <p>Bored of the campus rec?</p>
      <p>Have a flexible schedule?</p>
    <h3>Grab a friend and add a bit of spice to your day at your favorite studio, but don't worry about signing a monthly contract.</h3>
  </div>

  <div>
    <h1>Professionals</h1>
      <p>Sitting in meetings all day?</p>
      <p>Reaching for that 3 PM coffee?</p>
    <h3>Recharge at your favorite studio, but with money remaining to enjoy one (or a few) post-workout refreshments.</h3>
  </div>

  <div>
    <h1>Travelers</h1>
      <p>Visiting DC for a few days?</p>
      <p>No gym at your AirBnb?</p>
    <h3>Continue your adventures in The Quad! Now your fitness doesn’t have to take a vacation.</h3>
  </div>
</div>

<hr>
<div class="bottomBox">
  <h2>The doors are opening soon!</h2>
  <p>Enter your email to be the first inside<b> The Quad!</b>
</p>

 <%= render "connect" %>

</div>
