<div class="topBox">
  <img src="/assets/quad_logo_background_transparent.png" alt="Quad Logo">

  <h1>The Quad Network: Never Be Bored</h1>

</div>

<div class="middleBox">
  <h2>When you want. | Where you want. | It’s your choice.
  </h2>
  <h3>Receive instant notifications when seats are available at your favorite fitness class.</h3>
  <p>Tired of sweating along the Potomac, low on cash? No problem. Receive text message notifications when seats are available at your favorite studio, for your favorite price. Don’t settle for the same exercise routine each day.
  </p>
</div>

<hr>

<div class="bottomBox">
  <h2>Launching soon in DC!</h2>
  <p>Sign up by June 20th to waive your registration fee. See you in<b> The Quad!</b>
</p>

<form class="email_form">
  <input type="text" name="Your email..." placeholder="Your email...">
  <input type="submit" value="Submit">
</form>

</div>

<div class="contactForm">
  <%= simple_form_for @contact do |f| %>
    <%= f.input :email, :required => true %>
    <%= f.input :message, :as => :text, :required => true %>
    <% f.input :nickname, :hint => 'Leave this field blank!' %>
    <%= f.button :submit, 'Send emal', :class=> "btn btn-primary" %>
  <% end %>
</div>

<hr>

<div class="footer">
  <p>Facebook | Twitter | Instagram</p>
  <p></p>
  <p>©2017 The Quad Co. All Rights Reserved.</p>
  <img src="/assets/quad_logo_background_transparent.png" alt="Quad Logo">

</div>
