<div class="topBox">

<%= image_tag "quad_logo_background_transparent.png", alt: "Quad Logo", class: "img" %>

  <h1>The Quad Network: Never Be Bored</h1>

</div>

<div class="middleBox">
  <h2>When you want. | Where you want. | It’s your choice.
  </h2>
  <h3>Receive instant notifications when seats are available at your favorite fitness class.</h3>
  <p>Tired of sweating along the Potomac, low on cash? No problem. Receive text message notifications when seats are available at your favorite studio, for your favorite price. Don’t settle for the same exercise routine each day.
  </p>
</div>

<hr>

<div class="bottomBox">
  <h2>Launching soon in DC!</h2>
  <p>Sign up to be the first to know when we launch. See you in<b> The Quad!</b>
</p>

 <%= render "connect" %>

</div>
