<div class="topBox">
  <img src="/assets/quad_logo_background_transparent.png" alt="Quad Logo">

  <h1>The Quad App: Fitness Finder</h1>
  <h3>Discover available seats for the lowest price, at your favorite fitness studios.</h3>
</div>
<div class="middleBox">
  <h3>When you want. Where you want. It’s your choice.
</h3>

  <p>Bored of the treadmill? Grab a discounted spot at your favorite studio. Step in The Quad, a geo-location based approving a curated selection of the hottest exercise classes in the city. Receive notifications whenever seats are available at reduced prices. Don’t settle for the same exercise routine because it is expensive to try new classes.
</p>
</div>

<div id="bottomBox">
</div>
