<div class="topBox">
  <img src="/assets/quad_logo_background_transparent.png" alt="Quad Logo">

  <h1>The Quad App: Fitness Finder</h1>
  <h3>Discover available seats for the lowest price,<br> at your favorite fitness studios.</h3>
</div>

<div class="middleBox">
  <h2>When you want. | Where you want. | It’s your choice.
  </h2>
  <p>Bored of the treadmill?<b> The Quad App</b> lets you grab a discounted spot at your favorite studio. </p>
  <p>Don’t settle for the same exercise routine each day. Step into <b>"The Quad", a geo-location based app providing a curated selection of the hottest exercise classes in the city.</b> Receive notifications whenever seats are available at reduced prices.
  </p>
</div>

<hr>

<div class="bottomBox">
  <h2>Launching soon in DC!</h2>
  <p>If you are interested in being an early adopter or simply want to be notified when discounted classes are offered, add your email address. See you in<b> The Quad!</b>
</p>
</div>

<hr>

<div class="footer">
  <p>©2017 The Quad Co. All Rights Reserved.</p>
  <img src="/assets/quad_logo_background_transparent.png" alt="Quad Logo">
</div>
