<h1>Explore your favorite gyms</h1>

<% @company.each do |company| %>
  <h2><%= link_to company.name, company_path(company) %></h2>
  <%= image_tag company.img_url, alt: "Company Logo", class: "img" %>
<% end %>

<h3><%= link_to "Add company", new_company_path %></h3>
