// Place all the styles related to the Landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  text-align: center;
}

.topBox img {
  width: 300px;
  height: 100px;
  box-sizing: border-box;
  margin: auto;
  text-align: center;
  opacity: 1;
  padding-top: 15px;
}

h1 {
  text-shadow: 4px 4px 12px black;
  color: white;
  font-size: 55px;
}

h3 {
  /*text-shadow: 4px 4px 12px #4088bf;*/
  color: #4088bf;
  font-size: 20px;
  background: white;
}

p {
  line-height: 100%;
  color: #565555;
}

h2 {
  color: #565555;
  padding: 15px;
}

hr {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  padding: 5px 160px 5px;
}

.footer {
  height: 60px;
  background-color: #3a3a3a;
}
.footer p {
  font-size: 12px;
  text-align: center;
  padding: auto 30px;
  margin: 10px 40px;
  color: grey;
  display: inline-block;
}

.footer img {
  display: inline-block;
  height: 40px;
  width: 80px;
  margin: auto 40px;
  float: left;
}

.footer a {
  text-decoration: none;
  font-size: 12px;
  color: grey;
}

.signInForm a {
  background-color: #dddddd;
  color: #565555;
  border-radius: 3px;
  padding: 5px 20px;
  border: 1px solid #565555;
  border-radius: 3px;
  font-weight: 700;
  font-size: 15px;
  margin: auto 20px;
  text-decoration: none;
  float: right;
}

.contactForm {
  margin: auto;
  text-align: center;
}

input {
  padding: 5px 20px;
  border: 2px solid orange;
  border-radius: 3px;
  background-color: white;
  color: #4288bc;
  font-weight: 500;
  font-size: 18px;
  margin: 17px 5px;
}

.inputType {
  visibility: hidden;
}

input[type=submit] {
  background-color: #4288bc;
  color: white;
  border-radius: 3px;
}

.topBox {
  width: auto;
  height: 365px;
  background-image: asset-url("exercise-ball.jpg");
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
}
// .yogaWorksImg {
//   max-width: 30em;
// }
.yogaWorks img {
  max-width: 30em;
}
.examples {
  color: orange;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 2rem;
  }
  .examples div {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em 5% 1em;
  padding: 0 1rem;
  border: 2px solid #f2f7f5;
  background: orange;
  border-radius: 1em;
  border-style: ridge;
  position: relative;
  }
  .examples div h1 {
    margin: 1em 0 0.25em;
    font-size: 2em;
    }
  .examples p {
  font-size: 1.2em;
  }
  .examples div h3 {
    margin: 1em 0 0.25em;
    font-size: 1.5em;
    background: none;
    text-align: center;
    }

@media (min-width: 600px) {

  body {

  }


  .topBox img {
    width: 400px;
    height: 230px;
    box-sizing: border-box;
    margin: auto;
    text-align: center;
    opacity: 1;
    padding-top: 15px;
  }

  .middleBox {
    padding: 20px 160px 60px;
  }

  .bottomBox {
    padding: 20px 160px 60px;
    text-align: center;
  }

  p {
    line-height: 150%;
    color: #565555
  }
}
