<hr>

<div class="footer">
  <p>Facebook | Twitter | Instagram</p>
  <p></p>
  <p>©2017 The Quad Co. All Rights Reserved.</p>
  <img src="/assets/quad_logo_background_transparent.png" alt="Quad Logo">

  <% if !current_user %>
    <%= link_to "Sign up", new_user_registration_path %>
    <%= link_to "Sign in", new_user_session_path %>
  <% else %>
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
    <%= current_user.email %>
  <% end %>

</div>
