<hr>

<div class="footer">
  <%= image_tag "quad_logo_background_transparent.png", alt: "Quad Logo", class: "img" %>
  <p>Facebook | Twitter | Instagram</p>

  <p>©2017 The Quad Co. All Rights Reserved.</p>

  <span class="signInForm">
    <% if user_signed_in? %>
    <%= link_to('logout', destroy_user_session_path, method: :delete) %>
    <% else %>
    <%= link_to('Early Adopter Login', new_user_session_path) %>
    <% end %>
  </span>
</div>
