<div class="footer">
  <%= image_tag "quad_logo_background_transparent.png", alt: "Quad Logo", class: "img" %>
  <span><p><a href="https://m.facebook.com/TheQuadDC/?tsid=0.9968404359424028&source=result">Facebook</a> | Twitter | Instagram</p></span>

  <p>Copyright © 2017 The Quad and Co, All rights reserved.</p>

  <span class="signInForm">
    <% if user_signed_in? %>
    <%= link_to('logout', destroy_user_session_path, method: :delete) %>
    <% else %>
    <%= link_to('Early Adopter Login', new_user_session_path) %>
    <% end %>
  </span>
</div>
