<div class="header">
<img src="/assets/quad_logo_background_transparent.png" alt="Quad Logo">

<h2><%= link_to "Fitness Companies", companies_path %></h2>
<h2><%= link_to "Types of Classes", events_path%></h2>
</div>
<hr>
